<div style="padding:40px">

    <h1>Money Pilot Dashboard</h1>

    <hr>

    <h2>Dashboard Summary</h2>

    <p>
        <strong>Total Balance:</strong>

        ₹ {{ summary?.totalBalance }}
    </p>

    <p>
        <strong>Total Income:</strong>

        ₹ {{ summary?.totalIncome }}
    </p>

    <p>
        <strong>Total Expense:</strong>

        ₹ {{ summary?.totalExpense }}
    </p>

    <p>
        <strong>Total Savings:</strong>

        ₹ {{ summary?.totalSavings }}
    </p>

    <hr>

    <h2>Recent Transactions</h2>

    <div *ngIf="recentTransactions.length === 0">

        No Transactions Found

    </div>

    <ul>

        <li *ngFor="let transaction of recentTransactions">

            {{ transaction.title }}

            -

            ₹ {{ transaction.amount }}

        </li>

    </ul>

</div>