@import "../abstracts/variables";

body {
    font-family: 'Poppins', sans-serif;
    background: $background;
    color: $text-dark;
    font-size: 15px;
}

h1 {
    font-size: 38px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    font-weight: 700;
}

h3 {
    font-size: 26px;
    font-weight: 600;
}

h4 {
    font-size: 22px;
    font-weight: 600;
}

h5 {
    font-size: 18px;
    font-weight: 600;
}

p {
    color: $text;
}