@import "../abstracts/variables";

.form-control {
    height: 52px;
    border-radius: $radius-md;
    border: 1px solid $border;
    padding: 0px 18px;
    font-size: 15px;
}

.form-control:focus {
    box-shadow: none;
    border-color: $primary;
}